{% extends 'base.html' %}

{% block title %}
	Log In
{% endblock %}

{% block content %}
    <div class="cajaLogIn">
        <h1 class="titulo">Registrar</h1>
        <form class="modal-content">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" required>

            <label for="constrseña">Contraseña</label>
            <input type="text" name="constrseña" required>
            <label>¿Ya tienes una cuenta? Haz click <a href="{{url_for('logIn')}}">aquí</a></label>
            <button type="submit">Registrar</button>
            
        </form>
    </div>
{% endblock %}